[submodule "javascript/hello-world"]
	path = javascript/hello-world
	url = git@github.com:junagao/hello-world.git
[submodule "javascript/two-fer"]
	path = javascript/two-fer
	url = git@github.com:junagao/two-fer.git
[submodule "javascript/resistor-color"]
	path = javascript/resistor-color
	url = git@github.com:junagao/resistor-color.git
[submodule "javascript/resistor-color-duo"]
	path = javascript/resistor-color-duo
	url = git@github.com:junagao/resistor-color-duo.git
